<div *ngIf=" seedIndex == 0 " class="seed-list-header seed-element-container">
    <span class="seed-status-container">
        <div class="text">TT</div>
    </span>
    <span class="seed-img-container">
        <div class="text">Hình</div>
    </span>
    <span class="seed-info-container">
        <div class="text">Thông tin</div>
    </span>
    <span class="seed-number-container">
        <div class="text">SL</div>
    </span>
    <span class="seed-tool-container"></span>
</div>

<hr>

<div #seed_element class="seed-element-container" (click)="seedElOnClick(seed_element)">
    <span class="seed-status-container">
        <i [class]=" seedEl.isReadySeed | plant_status_icon "></i>
    </span>

    <span class="seed-img-container">
        <img class="img-60 img-circle-border" [src]=" seedEl.imgSrc " alt="">
    </span>

    <span class="seed-info-container">
        <div class="seed-info-content">
            <span class="seed-info-title">
                <div class="text">Tên rau:</div>
            </span>
            <span class="seed-info-body">
                <div class="text" [style.color]=" seedEl.plantColor ">{{ seedEl.plantName }}</div>
            </span>
        </div>

        <div class="seed-info-content">
            <span class="seed-info-title">
                <div class="text">NT:</div>
            </span>
            <span class="seed-info-body">
                <div class="text" [style.color]=" seedEl.plantColor ">{{ seedEl.startDate | date: 'dd/MM/yyyy' }}</div>
            </span>
        </div>

        <div class="seed-info-content">
            <span class="seed-info-title">
                <div class="text">Tuổi:</div>
            </span>
            <span class="seed-info-body" [style.color]=" seedEl.plantColor ">
                <div *ngIf=" seedEl.age > 0 " class="text">{{ seedEl.age }} tuần</div>
                <div *ngIf=" seedEl.age == 0 " class="text">Mới trồng</div>
            </span>
        </div>
    </span>

    <span class="seed-number-container">
        <ng-content select=".seed-number-content"></ng-content>
    </span>

    <span class="seed-tool-container">
        <ng-content select=".seed-tool-content"></ng-content>
    </span>
</div>