<form formGroup="plantForm">
    <div class="form-item">
        <label class="text-15">Tên rau:</label>
        <select name="" id=""></select>
        <input *ngIf="!selectPlantName" type="text" class="form-control" formControlName="plantName">
    </div>

    <div class="form-item">
        <label class="text-15">Màu nhận biết:</label>
        <input type="text" class="form-control" formControlName="plantColor">
    </div>

    <div class="form-item">
        <label class="text-15">Thời gian TB cây trưởng thành (ngày):</label>
        <input type="number" class="form-control" formControlName="growUpTime">
    </div>

    <div class="form-item">
        <label class="text-15">Thời gian TB cây lớn vừa (ngày):</label>
        <input type="number" class="form-control" formControlName="mediumGrowthTime">
    </div>

    <div class="form-item">
        <label class="text-15">Thời gian TB ươm hạt (ngày):</label>
        <input type="number" class="form-control" formControlName="seedUpTime">
    </div>

    <div class="form-item">
        <label class="text-15">Số lượng TB trên 1 Kg:</label>
        <input type="number" class="form-control" formControlName="numberPerKg">
    </div>

    <div class="form-item">
        <label class="text-15">Tỷ lệ cây còn sống sau khi lên hạt (%):</label>
        <input type="number" class="form-control" formControlName="alivePercent">
    </div>

    <div class="form-item">
        <label class="text-15">Cây thường mắc các loại sâu bọ:</label>
        <input type="text" class="form-control" formControlName="worm">
    </div>

    <div class="form-item">
        <label class="text-15">Tháng sâu bệnh của cây:</label>
        <input type="text" class="form-control" formControlName="wormMonth">
    </div>

</form>