<app-modal [Id]="'seed_modal'" [title]="'Danh sách hạt đang ươm'">
    <div *ngIf="creationMode" modal-content>
        <app-modal-create-seed (return)="creationMode = false"></app-modal-create-seed>
    </div>

    <div *ngIf="!creationMode" modal-content>
        <div class="modal-body">
            <app-modal-seed-management [seedArr]="sessionStorage.seedData"></app-modal-seed-management>
        </div>

        <div class="modal-footer">
            <button class="btn btn-info" (click)="creationMode = true">Ươm hạt mới</button>
            <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</app-modal>