<app-page-layout [hasFooter]="true" [hasHeader]="true" [onLoad]="!dataReady">
    <div class="page-content">
        <!-- Map of farm -->
        <app-farm></app-farm>

        <!-- Modal truss information -->
        <app-farm-modal [clickedTruss]="clickedTruss" (reload)="changeClickedTruss($event); changeDataStatus(false)"></app-farm-modal>

        <!-- Modal for seed table -->
        <app-seed-modal></app-seed-modal>
    </div>

    <!-- select group -->
    <div class="footer">
        <app-select [isStatisticPage]="false" (selectChange)="selectOnChange($event)"></app-select>
    </div>
</app-page-layout>