<div class="page-container">
    <header *ngIf="hasHeader">
        <app-header></app-header>
    </header>

    <article [ngClass]="hasFooter ? 'smaller-container' : ''" [style.overflow]="scroll ? 'scroll' : ''">
        <ng-template [ngIf]="onLoad">
            <app-circle-loading></app-circle-loading>
        </ng-template>

        <ng-template [ngIf]="!onLoad">
            <ng-content select=".page-content"></ng-content>
        </ng-template>
    </article>

    <footer *ngIf="hasFooter">
        <ng-content select=".footer"></ng-content>
    </footer>
</div>