<div class="page-container">
  <header *ngIf="hasHeader">
    <ng-content select=".header"></ng-content>
  </header>

  <article
    [ngClass]="hasFooter ? 'smaller-container' : ''"
    [style.overflow]="scroll ? 'scroll' : ''"
  >
    <ng-template [ngIf]="onLoad">
      <app-circle-loading></app-circle-loading>
    </ng-template>

    <ng-template [ngIf]="!onLoad">
      <ng-content select=".page-content"></ng-content>
    </ng-template>
  </article>

  <footer *ngIf="hasFooter">
    <app-navigation></app-navigation>
  </footer>
</div>
