<div [class]="verticalBar ? 'progress' : 'progress truss-normal'" [style.height]="height">
    <div [class]="striped ? 'progress-bar progress-bar-striped' : 'progress-bar'" role="progressbar"
        [style.width]="percentage + '%'" [style.background-color]="color" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100">
        <div *ngIf="hasContent && percentage > 33" class="text">{{ content }}</div>
    </div>
    <div *ngIf="hasContent && percentage <= 33 " class="text-container text">{{ content }}</div>
</div>