<!-- Modal -->
<div class="modal fade" [id]="Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- If data is updating, show the circle loading -->
            <ng-template [ngIf]="onLoad">
                <div class="modal-body">
                    <div class="spinner-loading">
                        <div class="spinner-border spinner-100 text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Else after updated new data, show the content -->
            <ng-template [ngIf]="!onLoad">
                <ng-content select="[modal-content]"></ng-content>
                <ng-content select=".modal-body"></ng-content>
                <ng-content select=".modal-footer"></ng-content>
            </ng-template>
        </div>
    </div>
</div>