.seed-element-container,
.seed-status-container,
.seed-img-container,
.seed-number-content {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.seed-list-header {
    width: 100%;
    height: auto;
    display: inline-flex;
    text-align: center;
    .seed-status-header {
        flex: 7;
    }
    .seed-img-header {
        flex: 22;
    }
    .seed-info-header {
        flex: 50;
    }
    .seed-number-header {
        flex: 10;
    }
    .seed-tool-header {
        flex: 11;
    }
}

.seed-element-container {
    width: 100%;
    height: 110px;
    border-radius: 5px;
    align-items: flex-start !important;
    .seed-status-container {
        flex: 7;
    }

    .seed-img-container {
        flex: 22;
    }

    .seed-info-container {
        flex: 50;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .seed-info-content {
            display: inline-flex;
            .seed-info-title {
                flex: 4;
            }
            .seed-info-body {
                flex: 6;
            }
        }
    }

    .seed-number-container {
        flex: 13;
        height: 100%;
        .seed-number-content {
            font-size: 18px;
            font-weight: 900;
        }
    }

    .seed-tool-container {
        flex: 8;
        height: 100%;
    }
}

.on-focus {
    background-color: #ffe77b !important;
}

@media only screen and (max-width: 325px) {
    .seed-number {
        font-size: 16px;
        font-weight: 700;
    }
}
