.page-content {
    .harvest-stats-container {
        padding: 3px;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    .btn-group {
        margin-left: 5px;
    }
}
