<app-page-layout [hasFooter]="tabIndex == 0" [scroll]="true" [onLoad]="!trussTotalStatArr.length" [loadTimeOut]="2000">
    <div class="page-content">
        <app-nav-bar [navArr]="navArr" (tabChange)="tabIndex = $event"></app-nav-bar>

        <div *ngIf="tabIndex == 0 && trussTotalStatArr.length" class="total-stats-container">
            <app-chart [options]="trussTotalBarChart.getChartOptions(trussTotalStatArr)"></app-chart>
            <app-chart [options]="plantPercentPieChart.getChartOptions(trussTotalStatArr)"></app-chart>
        </div>

        <div *ngIf="tabIndex == 1" class="harvest-stats-container">
            <app-form [controlArr]="controlArr" (onchange)="changeHarvestStatArr($event)"></app-form>
            <app-chart [options]="harvestStatColumnChart.getChartOptions(harvestStatArr)"></app-chart>
        </div>

        <div *ngIf="!trussTotalStatArr.length" class="text">Dữ liệu thống kê khôn tồn tại</div>
    </div>

    <div *ngIf="tabIndex == 0" class="footer">
        <app-select [isStatisticPage]="true" (selectChange)="changeTotalStatArr($event)"></app-select>
    </div>
</app-page-layout>