<nav class="navbar navbar-light bg-light header-container">
    <a class="home-icon" [routerLink]="['/farm']" routerLinkActive="active">
        <i class="fas fa-home"></i>
    </a>
    <a class="chart-icon" [routerLink]="['/statistics']" routerLinkActive="active">
        <i class="far fa-chart-bar"></i>
    </a>
    <!-- <a class="calendar-icon" [routerLink]="['/predict-calendar']" routerLinkActive="active">
        <i class="far fa-calendar-alt"></i>
    </a> -->
    <a class="setting-icon" [routerLink]="['/settings']" routerLinkActive="active">
        <i class="fas fa-user-cog"></i>
    </a>
</nav>