<ng-template [ngIf]="!isModifyMode">
    <!-- Thân modal hiển thị thông tin giàn -->
    <div class="modal-body modal-body-no-scroll">

        <div class="plant-info-container">
            
            <span class="plant-img">
                <img [src]="modalTruss.imgSrc" style="height: 120px;" alt="">
            </span>

            <span class="plant-info">
                <div class="info-element">
                    <span class="info-icon">
                        <i [class]=" modalTruss.plantGrowth | plant_status_icon "></i>
                    </span>
                    <span class="info-body status-info">
                        {{ modalTruss.plantGrowth | plant_growth_str }}
                    </span>
                </div>

                <div class="info-element">
                    <span class="info-title">Tên rau:</span>
                    <span class="info-body" [style.color]=" modalTruss.plantColor ">
                        {{ modalTruss.plantName }}
                    </span>
                </div>

                <div class="info-element">
                    <span class="info-title">Ngày trồng:</span>
                    <span class="info-body" [style.color]=" modalTruss.plantColor ">
                        {{ modalTruss.startDate | date: 'dd/MM/yyyy' }}
                    </span>
                </div>

                <div class="info-element" *ngIf=" modalTruss.plantGrowth < 3 ">
                    <span class="info-title">Dự kiến TH:</span>
                    <span class="info-body" [style.color]=" modalTruss.plantColor ">
                        {{ modalTruss.harvestDate | harvest_days }} ngày nữa
                    </span>
                </div>

                <div class="info-element" *ngIf=" modalTruss.plantGrowth == 3 ">
                    <span class="info-title">Đã TH được:</span>
                    <span class="info-body" [style.color]=" modalTruss.plantColor ">
                        {{ modalTruss.harvestDate | harvest_days }} ngày
                    </span>
                </div>
            </span>
            
        </div>
        <app-progress-bar [striped]="true" [height]="'28px'" [color]="modalTruss.plantColor"
            [percentage]="modalTruss.percentage" [content]="modalTruss.plantNumber + '/ ' + modalTruss.maxHole">
        </app-progress-bar>
    </div>

    <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="changeMode()">Thay đổi</button>
        <button class="btn btn-outline-danger" (click)="clearTruss()">Xoá giàn</button>
    </div>
</ng-template>

<!-- Khi bấm vào nút thay đổi thân modal sẽ là một form để nhận input từ user -->
<ng-template [ngIf]="isModifyMode">

    <div class="modal-body modal-body-no-scroll">
        <form class="form-update-status" [formGroup]="updateStatusForm">

            <div class="select-container">
                <label for="plant-growth-select" class="text">Tình trạng:</label>
                <select name="plant-growth-select" class="form-select form-select-sm" formControlName="newPlantGrowth">
                    <option [value]="1">Cây con</option>
                    <option [value]="2">Cây trung</option>
                    <option [value]="3">Cây đã có thể thu hoạch
                    </option>
                </select>
            </div>

            <div class="input-container">
                <label for="plant-number-input" class="text">Số lượng:</label>
                <input name="plant-number-input" class="form-control form-control-sm" type="number"
                    formControlName="newPlantNumber">
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" (click)="saveStatus()" [disabled]="!isValidNewStatus">Lưu</button>
        <button type="button" class="btn btn-primary" (click)="revertStatus()">Phục hồi</button>
        <button class="btn btn-secondary" (click)="changeMode()">Quay về</button>
    </div>
</ng-template>