<div class="page-container">
    <ng-template [ngIf]="onLoad">
        <div class="spinner-container">
            <div class="spinner-border spinner-100 text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="!onLoad">
        <header *ngIf="hasHeader">
            <app-header></app-header>
        </header>

        <article [style.overflow]="scroll ? 'scroll' : ''">
            <ng-content select=".page-content"></ng-content>
        </article>

        <footer *ngIf="hasFooter">
            <ng-content select=".footer"></ng-content>
        </footer>
    </ng-template>
</div>