#accordion {
    margin-bottom: 10px;
    .card {
        .card-header {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            .fa-icon {
                margin-right: 10px;
            }
        }
        .card-body {
            padding: 16px;
        }
    }
}

@media screen and (max-height: 600px) {
    #accordion {
        .card {
            .btn {
                padding: 9px;
                padding-left: 15px;
            }
        }
    }
}
