<div id="accordion">
    <div class="card">
        <button class="btn card-header" [id]=" 'btn-' + collapseId " data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" (click)="toggleCollapse()">
            <span class="fa-icon">
                <i *ngIf="!active" class="fas fa-chevron-right"></i>
                <i *ngIf="active" class="fas fa-chevron-down"></i>
            </span>
            <span class="text">{{ title }}</span>
        </button>

        <div [id]="collapseId" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <ng-content select=".collapse-body-content"></ng-content>
            </div>
        </div>
    </div>
</div>