form {
    .form-item {
        min-height: 60px;
        margin-bottom: 1rem;
        label {
            margin-bottom: 0.5rem;
        }
        img {
            margin-top: 5px;
        }
    }
    .alert {
        margin-top: 3px;
    }
}
