<div class="farm-container">
    <ng-template [ngIf]=" block == 'A' ">
        <div class="farm-main-container">
            <div class="farm-middle-container">
                <!-- truss array A -->
                <app-farm-block [block]="'A'"></app-farm-block>
            </div>
            <div class="farm-right-container">
                <div class="seed-table">
                    <!-- seed nursery table -->
                    <button class="btn btn-info seed-table-vertical" data-toggle="modal" data-target="#seed_modal">
                    </button>
                </div>
            </div>
        </div>

        <div class="farm-bottom-container">
            <div class="seed-table">
                <!-- seed nursery table -->
                <button class="btn btn-info seed-table-horizontal" data-toggle="modal" data-target="#seed_modal">
                </button>
            </div>
        </div>
    </ng-template>

    <!-- farm in block B -->
    <ng-template [ngIf]=" block == 'B' ">
        <div class="farm-main-container">
            <div class="farm-left-container">
                <!-- truss array BN -->
                <app-farm-block [block]="'BN'"></app-farm-block>
            </div>
            <div class="farm-middle-container">
                <!-- truss array B -->
                <app-farm-block [block]="'B'"></app-farm-block>
            </div>
            <div class="farm-right-container">
                <!-- truss array BS -->
                <app-farm-block [block]="'BS'"></app-farm-block>
            </div>
        </div>
    </ng-template>

    <!-- farm in block C & D -->
    <ng-template [ngIf]=" block == 'C' ">
        <div class="farm-main-container farm-card-group">
            <div class="farm-middle-container">
                <div class="card text-center">
                    <div class="card-header">
                        Tầng 1 vườn C
                    </div>
                    <div class="card-body">
                        <!-- truss array C -->
                        <app-farm-block [block]="'C'"></app-farm-block>
                    </div>
                </div>

                <div class="card text-center">
                    <div class="card-header">
                        Tầng 2 vườn C
                    </div>
                    <div class="card-body">
                        <!-- truss array CT -->
                        <app-farm-block [block]="'CT'"></app-farm-block>
                    </div>
                </div>

                <div class="card text-center">
                    <div class="card-header">
                        Vườn D
                    </div>
                    <div class="card-body">
                        <!-- truss array D -->
                        <app-farm-block [block]="'D'"></app-farm-block>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>