.farm-card-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.farm-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .farm-top-container {
        width: 100%;
        flex: 1;
    }
    .farm-main-container {
        width: 100%;
        flex: 10;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .farm-left-container,
        .farm-right-container {
            width: 10%;
            height: 100%;
        }
        .farm-left-container {
            padding-right: 7px;
            min-width: 40px;
        }
        .farm-middle-container {
            width: 100%;
            height: 100%;
            .card {
                margin-bottom: 8px !important;
            }
        }
        .farm-right-container {
            padding-left: 10px;
            min-width: 40px;
        }
    }
    .farm-bottom-container {
        width: 100%;
        flex: 1;
        max-height: 36px;
    }
}

.seed-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.seed-table-horizontal {
    width: 88%;
    height: 100%;
    margin-top: 8px;
}

.seed-table-vertical {
    width: 100%;
    height: 90%;
}

@media screen and (min-height: 700px) {
    .farm-right-container {
        min-width: 45px !important;
    }
    .farm-bottom-container {
        max-height: 48px !important;
    }
    .seed-table-horizontal {
        margin-top: 15px;
    }
}

@media screen and (max-height: 600px) {
    .farm-right-container {
        min-width: 36px !important;
    }
    .farm-bottom-container {
        max-height: 33px !important;
    }
}
