<app-page-layout [scroll]="true" [onLoad]="false">
    <div class="page-content">
        <ul class="nav nav-tabs">
            <!-- Navigate for setting mode -->
            <li class="nav-item">
                <a class="text nav-link active" (click)="changeTab(0, $event)">Quản lý cây trồng</a>
            </li>

            <!-- Navigate for add mode -->
            <li class="nav-item">
                <a class="text nav-link" (click)="changeTab(2, $event)">Thêm loại rau mới</a>
            </li>
        </ul>

        <app-form-plant-info [situation]="situation" (plantValOnChange)="plantInfo = $event" (selectedImg)="imgFile = $event" (isValidFormVal)="validPlantInfo = $event">
        </app-form-plant-info>
    </div>

    <div class="footer">
        <ng-template [ngIf]="situation == 0">
            <button class="btn btn-sm left-btn-container" [routerLink]="['/settings']" routerLinkActive="active">
                <span class="fa-icon">
                    <i class="fas fa-arrow-circle-left"></i>
                </span>
                <span class="text">Quay về</span>
            </button>

            <button class="btn btn-sm btn-outline-success right-btn-container" (click)="changeSituation(1)">
                <span class="fa-icon">
                    <i class="fas fa-wrench"></i>
                </span>
                <span class="text">Thay đổi</span>
            </button>
        </ng-template>

        <ng-template [ngIf]="situation == 1">
            <button class="btn btn-sm left-btn-container" (click)="changeSituation(0)">
                <span class="fa-icon">
                    <i class="fas fa-history"></i>
                </span>
                <span class="text">Phục hồi mặc định</span>
            </button>

            <button class="btn btn-sm btn-success right-btn-container" (click)="modifyPlantInfo()" [disabled]="!validPlantInfo">
                <span class="fa-icon">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Lưu thay đổi</span>
            </button>
        </ng-template>

        <ng-template [ngIf]="situation == 2">
            <button class="btn btn-sm left-btn-container" [routerLink]="['/settings']" routerLinkActive="active">
                <span class="fa-icon">
                    <i class="fas fa-arrow-circle-left"></i>
                </span>
                <span class="text">Quay về</span>
            </button>

            <button class="btn btn-sm btn-success right-btn-container" [disabled]="!validPlantInfo" (click)="addPlantInfo()">
                <span class="fa-icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Thêm</span>
            </button>
        </ng-template>
    </div>
</app-page-layout>