<div class="truss-info">
    <span class="text">Trồng cây:</span>
    <span class="text text-thick" [style.color]="history.plantColor">{{ history.plantName }}</span>
</div>

<div class="truss-info">
    <span class="text">Ngày trồng:</span>
    <span class="text text-thick" [style.color]="history.plantColor">{{ history.startDate | date: 'dd/MM/yyyy' }}</span>
</div>

<div #status_container *ngFor="let status of history.realStatus; let i = index" class="truss-status" (click)="selectTrussStatus(status_container, i)">
    <span class="growth-info">
        <span class="fa-icon">
            <i [class]="status.plantGrowth | plant_status_icon"></i>
        </span>
        <span class="text">{{ status.plantGrowth | plant_growth_str }}</span>
    </span>

    <span class="date-info">
        <span class="fa-icon">
            <i class="far fa-calendar-alt"></i>
        </span>
        <span class="text">{{ status.date | date: 'dd/MM/yyyy' }}</span>
    </span>

    <app-progress-bar [striped]="true" [height]="'25px'" [color]="history.plantColor" [maxHole]="maxHole" [plantNumber]="status.plantNumber"></app-progress-bar>
</div>