.collapse-body-content {
    .truss-info {
        width: 100%;
        display: inline-flex;
        span:nth-child(1) {
            flex: 4;
        }
        span:nth-child(2) {
            flex: 6;
        }
    }
}
