.page-content {
    padding: 7px;
    padding-bottom: 0px;
    #input-group {
        margin-bottom: 7px;
        .form-item {
            width: 100%;
            display: inline-flex;
            justify-content: center;
            margin-bottom: 5px;
            span {
                flex: 4;
                display: flex;
                align-items: center;
            }
            select,
            input {
                flex: 6;
            }
        }
    }
    #recent-status-info {
        margin-bottom: 10px;
        h6 {
            margin-bottom: 0;
        }
    }
    #history-info {
        .collapse-header {
            .fa-icon {
                margin-right: 20px;
                margin-left: 20px;
            }
        }
    }
}
