<!-- Modal for truss -->
<app-modal [Id]="'farm_modal'" [title]=" 'Thông tin giàn rau ' + clickedTruss.block + clickedTruss.index "
    [onLoad]="onReloading">
    <!-- If truss is being planted, display modal-planting-truss comp -->
    <app-modal-planting-truss *ngIf="clickedTruss.plantId" modal-content [clickedTruss]="clickedTruss"
        (onUpdate)="onUpdate.emit($event)">
    </app-modal-planting-truss>

    <!-- If truss is empty, display modal-empty-truss comp -->
    <app-modal-empty-truss *ngIf="!clickedTruss.plantId" modal-content [clickedTruss]="clickedTruss"
        (onUpdate)="onUpdate.emit($event)"></app-modal-empty-truss>
</app-modal>