.page-content {
    padding: 7px;
    ul {
        margin-bottom: 5px;
    }
    form {
        .form-item {
            min-height: 60px;
            margin-bottom: 1rem;
            label {
                margin-bottom: 0.5rem;
            }
            img {
                margin-top: 5px;
            }
        }
    }
}
