<app-page-layout [onLoad]="false">
    <div class="page-content">
        <ul class="nav nav-tabs">
            <!-- Navigate for setting mode -->
            <li class="nav-item">
                <a class="text nav-link active">Thông tin cá nhân</a>
            </li>

            <!-- Navigate for add mode -->
            <li class="nav-item">
                <a class="text nav-link">Thay đổi mật khẩu</a>
            </li>
        </ul>
        <form *ngIf="userInfoForm" [formGroup]="userInfoForm">
            <div class="form-item">
                <label class="text">Tên:</label>
                <input type="text" class="form-control" formControlName="name" [readOnly]="!situation">
            </div>

            <div class="form-item">
                <label class="text">Ngày sinh:</label>
                <input type="text" class="form-control" formControlName="dateOfBirth" [readOnly]="!situation">
            </div>

            <div class="form-item">
                <label class="text">Địa chỉ:</label>
                <input type="text" class="form-control" formControlName="address" [readOnly]="!situation">
            </div>

            <div class="form-item">
                <label class="text">Số CMND/CCCD:</label>
                <input type="number" class="form-control" formControlName="idNumber" [readOnly]="!situation">
            </div>

            <div class="form-item">
                <label class="text">Số điện thoại liên hệ:</label>
                <input type="number" class="form-control" formControlName="phoneNumber" [readOnly]="!situation">
            </div>
        </form>
    </div>

    <div class="footer footer-btn-group">
        <ng-template [ngIf]="situation == 0">
            <button class="btn btn-sm left-btn-container" [routerLink]="['/settings']" routerLinkActive="active">
                <span class="fa-icon">
                    <i class="fas fa-arrow-circle-left"></i>
                </span>
                <span class="text">Quay về</span>
            </button>

            <button class="btn btn-sm btn-outline-success right-btn-container" (click)="goToModifyMode()">
                <span class="fa-icon">
                    <i class="fas fa-wrench"></i>
                </span>
                <span class="text">Thay đổi</span>
            </button>
        </ng-template>

        <ng-template [ngIf]="situation == 1">
            <button class="btn btn-sm left-btn-container" (click)="resetForm()">
                <span class="fa-icon">
                    <i class="fas fa-history"></i>
                </span>
                <span class="text">Phục hồi mặc định</span>
            </button>

            <button class="btn btn-sm btn-success right-btn-container" [disabled]="userInfoForm.invalid"
                (click)="submit()">
                <span class="fa-icon">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Lưu thay đổi</span>
            </button>
        </ng-template>
    </div>
</app-page-layout>